*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color:rgb(0, 0, 0);
}

header nav .ham_burger .cross{
    display: none;
    cursor: pointer;
}

header nav .ham_burger .menu{
    cursor: pointer;
}

nav{
    height:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5vw;
    position:relative;
    z-index: 10;
    background-color:rgba(255, 255, 255, 0.701);
    backdrop-filter: blur(-10px);
}

nav .logo{
    font-size: 30px;
    cursor:pointer;
}

nav .navbar_menu .header_menu{
    display: flex;
    gap:5vw;
    list-style: none;
    margin-left:40vw;
}

nav .navbar_menu .header_menu li{
    display: flex;
    align-items: center;
}

nav .navbar_menu .header_menu li a{
    text-decoration: none;
}

header nav .sliding_menu{
    position: absolute;
    background-color:rgba(255, 255, 255, 0.701);
    backdrop-filter: blur(-10px);
    left:0px;
    width: 100%;
    height:0px;
    overflow: hidden;
    top:80px;
    transition: height 1s ease-in-out;
    border-bottom: 2px solid white;
}

header nav .sliding_menu ul{
    padding: 36px 0px 0px 5vw;
    list-style-type: none;
    gap:25px;
    display: flex;
    flex-direction: column;
}

header nav .navbar .sliding_menu ul li a{
    text-decoration: none;
    font-size: 25px;
}

.hidden{
    height: calc(100vh - 80px) !important;
}




