{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% tailwind_css %}
    {% load static %}
</head>
<body>
    <main class="login_page main">
        <form class="login_form bg-[#005450] h-[75vh] w-[55vh] rounded-xl text-center" method="POST" action="{% url 'login_func' %}">  {% csrf_token %}
            <section class="upper heading">
                <p>login</p>
            </section>

            <section class="mid">
                <div class="mid_upper flex flex-col w-[42vh] text-xl m-auto ">
                    <input type="text" placeholder="Username" class="input_bar" name="username">
                    <input type="password" placeholder="Password" class="input_bar" name="password">
                    <button type="submit" class="btn w-[280px]">log in</button>
                </div>

                <section>
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </section>

                <div class="divider mt-9 relative">
                    <hr class="w-[42vh] m-auto">
                    <p class="absolute top-[-14.5px] left-[42%] bg-[#005450] w-16">or</p>
                </div>

                <div class="mid_lower">
                    <a href="#" class="links w-[280px] mt-10">
                        <img src="{% static 'users/logo/apple.svg' %}" class="h-7 mr-4">Sign in with Apple
                    </a>

                    <a href="#" class="links w-[280px]">
                        <img src="{% static 'users/logo/google.svg' %}" class="h-7 mr-4">Sign in with Google
                    </a>
                </div>
            </section>

            <section class="lower mt-8">
                <p>Don't have an account? 
                    <a href="{% url 'signup_page' %}" class="underline ">Sign up</a>
                </p>
            </section>
        </form>
    </main>
</body>
</html>